In [2]:
from src import utils

In [4]:
FNAME = 'data/raw/credit_risk_dataset.csv'
data=utils.load_data(FNAME)
data.head()

Data shape  : (32581, 12)

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [5]:
TARGET_COL = 'loan_status'
X, y = utils.split_input_output(data=data,
                          target_col=TARGET_COL)

Original data shape : (32581, 12)
X data shape        : (32581, 11)
y data shape        : (32581,)

In [6]:
# Split the data
# First, split the train & not train
X_train, X_not_train, y_train, y_not_train = utils.split_train_test(X,y,0.2,42)
print()
# Then, split the valid & test
X_valid, X_test, y_valid, y_test = utils.split_train_test(X_not_train,y_not_train,0.5,42)

X_train shape   : (26064, 11)
y_train shape   : (26064,)
X_test shape    : (6517, 11)
y_test shape    : (6517,)

X_train shape   : (3258, 11)
y_train shape   : (3258,)
X_test shape    : (3259, 11)
y_test shape    : (3259,)

In [7]:
utils.serialize_data(X_train,"X_train.pkl")
utils.serialize_data(y_train,"y_train.pkl")
utils.serialize_data(X_valid,"X_valid.pkl")
utils.serialize_data(y_valid,"y_valid.pkl")
utils.serialize_data(X_test,"X_test.pkl")
utils.serialize_data(y_test,"y_test.pkl")